@import './iconfont';
@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './common.scss';
@import './account.scss';
@import './module.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Source Han Sans CN, Helvetica Neue, Helvetica, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 16px;
  background-color: #e9ecf3;
  overflow-x: hidden;
  // page-break-before: always;
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.75rem;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  border-radius: 0.75rem;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  background-color: #bec5db;
}
.el-dialog__body {
  padding: 20px 20px;
  color: #606266;
  font-size: 14px;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  // font-size: 100%;
  // font: inherit;
  // vertical-align: baseline;
}

ol,
ul {
  /* 去除自带的ugly样式。 */
  list-style: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%;
}

.app-container {
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ebebed;
  background-color: #fff;
}
.app-flex-col-container.app-flex-col-container {
  display: flex;
  flex-direction: column;
  background-color: #ebebed;
  padding: 0;
  height: calc(100vh - 100px);
  .flex-col-content {
    padding: 10px;
    width: 100%;
    flex: 1;
    background: #fff;
    overflow: auto;
  }
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 0 10px 1px #999;
    top: 10px;
    .el-button.el-button {
      margin-left: 15px;
    }
  }
}
.head-form-container {
  .el-select {
    width: 100%;
  }
}
.head-container {
  padding-bottom: 15px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
  .el-form {
    padding: 0;
    .el-form-item {
      margin-bottom: 0;
    }
  }
  input {
    height: 30.5px;
    line-height: 30.5px;
  }

  .el-input__icon,
  .el-input-group__append {
    line-height: 31px;
  }
  ::v-deep.el-range-editor.el-input__inner {
    height: 30.5px;
    line-height: 30.5px;
    .el-range-separator {
      height: 30.5px;
      line-height: 30.5px;
    }
    .el-input__icon {
      height: 30.5px;
      line-height: 30.5px;
    }
  }
  .el-button {
    margin: 0;
    margin-bottom: 10px;
  }
}

.head-form-container {
  margin-bottom: 10px;
  padding: 10px 15px;
  background: #fff;
  border-radius: 4px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
  .el-form {
    padding: 0;
    .el-form-item {
      margin-bottom: 0;
    }
  }
  input {
    height: 30.5px;
    line-height: 30.5px;
  }

  .el-input__icon,
  .el-input-group__append {
    line-height: 31px;
  }
  ::v-deep.el-range-editor.el-input__inner {
    height: 30.5px;
    line-height: 30.5px;
    .el-range-separator {
      height: 30.5px;
      line-height: 30.5px;
    }
    .el-input__icon {
      height: 30.5px;
      line-height: 30.5px;
    }
  }
  .el-select {
    width: 100%;
  }
  .el-form.el-form {
    padding: 0;
  }
  .el-form-item {
    height: 40px;
    margin-bottom: 0;
    .el-form-item__content {
      display: flex;
      align-items: center;
    }
  }
  .el-form-item__label {
    white-space: nowrap;
  }
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.el-avatar {
  display: inline-block;
  text-align: center;
  background: #ccc;
  color: #fff;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.page-height {
  height: calc(100vh - 100px);
}
.bg#fff {
  height: calc(100vh - 100px);
}
