.icon-sort {
  width: 18px;
  height: 18px;
  line-height: 18px;
  color: #FFFFFF;
  font-size: 14px;
  background: #3841DB;
  text-align: center;
  border-radius: 50%;
}
.select-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 124px;
  margin-bottom: 26px;
  color: $color-primary;
  background: #F9FBFF;
  .content {
    text-align: center;
  }
  [class^=el-icon-] {
    font-weight: 700;
    margin-bottom: 15px;
  }

  &.is-warning {
    color: #FB6161;
    background: #FFF9F9;
  }
}
.border-dashed {
  border: 1px dashed;
}
.border {
  border: 1px solid #DCDEE0;
}
.el-form-item.is-multiple {
  .el-col {
    padding-right: 15px;
    margin-bottom: 10px;
  }
  &.el-form-item--small {
    margin-bottom: 8px;
    .el-form-item__error {
      margin-top: -10px;
    }
  }
}
.primary-btn {
  color: $color-primary;
  cursor: pointer;
}