$--color-primary: #3841DB;
$--color-success: #13ce66;
$--color-warning: #ffba00;
$--color-danger: #ec3636;
$--color-info: #909399;


//sidebar
$menuBg:#303133;
$subMenuBg:#fff;
$menuHover:#ccc;


$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$tree-color: #ebefff;

$color-success: $--color-success;
$color-danger: $--color-danger;
$color-primary: $--color-primary;
$color-warning: $--color-warning;
$color-info: $--color-info;
$color-title: #495060;
$color-content: #636C78;
$border-color: #EBEEF5;
$color-gray: #666666;
$w-size: 1200px;
$bg-color: #e9ecf3;
$bg-gray-color: #f7f7f7;