//公共样式
.w100 {
  width: 100%;
}

.mt5 {
  margin-top: 5px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mr5 {
  margin-right: 5px!important;
}
.mr15 {
  margin-right: 15px!important;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml40 {
  margin-left: 40px;
}
.mtb30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mlr10 {
  margin-left: 10px;
  margin-right: 10px;
}
.m5 {
  margin: 5px!important;
}

.ptb0 {
  padding-top: 0;
  padding-bottom: 0;
}
.pl45 {
  padding-left: 45px!important;
}
.p10 {
  padding: 10px;
}


.w-size {
  width: $w-size;
  max-width: $w-size;
  margin: 0 auto;
  overflow: hidden;
}

.common-operation-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 60px;
}
.common-main-container {
  margin-top: 10px;
  height: calc(100vh - 120px);
}

.common-next-btn {
  padding: 1rem 2rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.common-step-form {
  border: 1px solid $border-color;
  border-radius: 8px;
  padding: 20px;
  padding-right: 40px;
  margin: 30px 0;
}
.common-tip {
  font-size: 12px;
  color: $color-warning;
  margin-top: 10px;
  position: absolute;
  line-height: 1;
  span {
    font-weight: 600;
    font-size: 14px;
    color: $color-danger;
  }
}

.common-gray-tip {
  font-size: 14px;
  color: $color-gray;
}

.common-empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  border: 1px solid $border-color;
}

.common-share {
  position: absolute;
  right: -35px;
  top: 8px;
  color: $color-primary;
  z-index: 10;
  font-size: 12px;
  transform: scale(0.8) rotate(60deg);
  background: $color-primary;
  color: #fff;
  padding: 3px 30px;
}
.common-factory-table {
  th,
  td {
    font-size: 25px;
    * {
      font-size: 25px;
    }
  }
  ::v-deep {
    .el-table__empty-text {
      font-size: 25px;
    }
  }
}
//大图的删除按钮
.el-image-viewer__btn.el-image-viewer__close {
  .el-icon-circle-close {
    font-size: 50px;
    color: #fff;
  }
}

.common-filed-img-uploadbar-wrapper {
  position: relative;
  width: 148px;
  height: 148px;
  .el-progress {
    position: relative;
    z-index: 1;
    left: 1px;
    top: 1px;
    right: 1;
    bottom: 1;
    padding-left: 10px;
    padding-top: 10px;
    background: rgba(255, 255, 255, 0.8);
    ::v-deep {
      .el-progress__text {
        margin-top: 5px;
        margin-left: 5px;
      }
    }
  }
  .fileUpload {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.common-page-content {
  padding: 35px;
  min-height: calc(100vh - 135px);
  background: #fff;
}

.common-bottom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 0 10px 1px #999;
  top: 10px;
  .el-button.el-button {
    margin-left: 15px;
  }
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}
.flex-middle {
  display: flex;
  align-items: center;
}
.align-center {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-one {
  flex: 1;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

.text-center {
  text-align: center!important;
  .cell {
    text-align: center!important;
  }
}
.text-left {
  text-align: left;
}
.text-bold {
  font-weight: bold;
}

.text-normal {
  font-size: 14px;
}

.text-danger {
  color: $color-danger;
}

.nowrap {
  white-space: nowrap;
}
.wrap {
  white-space: normal!important;
  word-wrap: break-word;
  word-break: break-all;
}

.nobg {
  background-color: transparent;
}
.noborder {
  border: 0;
}
.border-left-0 {
  border-left: none;
}
.border-left-2 {
  padding-left: 5px;
  border-left: 2px solid $color-primary;
}
.border-right-0 {
  border-right: none;
}

.bg-none {
  background-color: transparent!important;
}