// 生产端样式
.in-production {
  .crud-header {
    margin: 20px 0;
    background-color: #f0f2f5;
    padding: 20px 20px 5px;
    .el-form-item {
      margin-right: 50px;
    }
  }
  .el-checkbox.is-disabled {
    display: none;
  }

  .table-title {
    background-color: #f0f2f5 !important;

    .el-checkbox__inner {
      width: 14px !important;
    }
    * {
      //width: 100% !important;
    }
  }
}

// 生产中-未导出
.in-production-export {
  .el-table td:last-child {
    border-right: 1px solid #ebeef5;
  }
  white-space: nowrap;
}

// 订单详情 - 弹窗
.custom-table {
  border-collapse: collapse;
  text-align: center;
  border-color: #ebeef5;

  td {
    padding: 8px;
  }
  tr,
  td {
    border-color: #ebeef5;
  }
}
.table-form {
  td:nth-child(2n-1) {
    background-color: #f7f8fa;
    font-weight: bold;
  }
}

// 扫描出库 - 刀版图展示
.knife-layout .el-col {
  width: 400px;
}
.card-show-img {
  .el-card__header {
    padding: 8px 0;
    font-size: 30px;
    color: #ffffff;
    background-color: #a0cfff;
  }
  .el-card__body {
    padding: 8px 0;
  }
}

.sort-manage-table {
  .fl {
    width: 100%;
  }
  .el-card {
    margin: 10px 0 15px 0;
  }
  .el-tag {
    margin-bottom: 15px;
  }
}

// 添加管理员/添加角色
.system-add-page {
  .system-add-title {
    padding: 0 0 0 45px;
    height: 66px;
    line-height: 66px;
  }
  .system-add-form {
    .avue-group {
      margin-bottom: 50px;

      .el-form-item__content {
        width: 400px;
      }
    }
    .form-menu {
      .el-button {
        width: 80px;

        & + .el-button {
          margin-left: 50px;
        }
      }
    }
    .menu-left {
      display: none;
    }
  }
}
