$--color-primary: #3841DB;
$--color-success: #13ce66;
$--color-warning: #ffba00;
$--color-danger: #ff4949;
$--color-info: #909399;


//sidebar
$menuBg:#303133;
$subMenuBg:#000C17;
$menuHover:#1990FF;


$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;


$color-success: $--color-success;
$color-danger: $--color-danger;
$color-primary: $--color-primary;
$color-warning: $--color-warning;
$color-info: $--color-info;
$border-color: #EBEEF5;
$border-color: #EBEEF5;
$color-gray: #606266;
$bg-color: #e9ecf3;
$w-size: 1200px;