@font-face {
  font-family: 'iconfont'; /* Project id 2472069 */
  src: url('//at.alicdn.com/t/font_2472069_mhe7d16rwc.woff2?t=1624676292718')
      format('woff2'),
    url('//at.alicdn.com/t/font_2472069_mhe7d16rwc.woff?t=1624676292718')
      format('woff'),
    url('//at.alicdn.com/t/font_2472069_mhe7d16rwc.ttf?t=1624676292718')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-professional-design:before {
  content: '\e6e4';
}

.icon-quick-design:before {
  content: '\e6e3';
}

.icon-bianji:before {
  content: '\e8ac';
}

.icon-ic_auto-hight:before {
  content: '\e642';
}

.icon-ic_auto-width:before {
  content: '\e641';
}

.icon-ic_align:before {
  content: '\e63f';
}

.icon-ic_middle:before {
  content: '\e640';
}

.icon-ic_flipver:before {
  content: '\e63e';
}

.icon-ic_scale:before {
  content: '\e63d';
}

.icon-ic_delete:before {
  content: '\e636';
}

.icon-ic_arrow:before {
  content: '\e637';
}

.icon-ic_flip:before {
  content: '\e638';
}

.icon-ic_copyy:before {
  content: '\e639';
}

.icon-ic_screen:before {
  content: '\e63a';
}

.icon-ic_refresh:before {
  content: '\e63b';
}

.icon-ic_arrow_down:before {
  content: '\e63c';
}
