@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";
@import "./common.scss";
@import "./module.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  background-color: #ebebed;
  overflow: hidden;
  // page-break-before: always;
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.75rem;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  border-radius: 0.75rem;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  background-color: #bec5db;
}
.el-dialog__body {
  padding: 20px 20px;
  color: #606266;
  font-size: 14px;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.a-color-default {
  a,
  a:focus,
  a:hover {
    color: -webkit-link;
  }
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%;
}

.app-container {
  margin-left: 20px;
  margin-top: 15px;
  padding: 20px 15px;
  height: calc(100vh - 80px);
  width: calc(100% - 40px);
  background: #fff;
  border-radius: 8px;
  overflow-y: auto;
}
.app-flex-col-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  .flex-col-content {
    padding: 10px;
    width: 100%;
    flex: 1;
    background: #fff;
    overflow: auto;
  }
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 0 10px 1px #999;
    top: 10px;
    .el-button.el-button {
      margin-left: 15px;
    }
  }
}
.head-form-container {
  .el-select {
    width: 100%;
  }
  .el-form.el-form {
    padding: 0;
  }
  .el-form-item {
    height: 40px;
    margin-bottom: 0;
    .el-form-item__content {
      display: flex;
      align-items: center;
    }
  }
  .el-form-item__label {
    white-space: nowrap;
  }
}
.head-container {
  background: #fff;
  background-color: #F7F8FA;
  padding: 10px 15px;
  margin-bottom: 10px;
  * {
    margin-right: 3px;
  }
  .filter-item {
    display: inline-block;
    vertical-align: middle;
  }
  input {
    height: 30.5px;
    line-height: 30.5px;
  }
  .el-input__icon {
    line-height: 31px;
    height: 31px;
  }
  .el-range-editor.el-input__inner {
    height: 30.5px;
    line-height: 30.5px;
    .el-range-separator {
      height: 30.5px;
      line-height: 30.5px;
    }
    .el-input__icon {
      height: 30.5px;
      line-height: 30.5px;
    }
  }
}
.batch-operation-wrapper {
  .g-left-operation,
  .r-left-operation {
    * {
      margin-right: 3px;
    }
  }
}
.el-button {
  margin-right: 3px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.el-avatar {
  display: inline-block;
  text-align: center;
  background: #ccc;
  color: #fff;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}
