// 校验组件
.verify-component {
  font-size: 16px;
  color: #1a1a1a;

  .content {
    height: calc(100% - 75px);
    padding: 10px 30px 15px;
  }

  .el-button--warning {
    text-align: left;

    &:hover {
      color: #ffba00;
      background: #fff8e6;
      border-color: #ffe399;
    }

    .el-icon-warning {
      font-size: 20px;
    }

    span {
      color: #1a1a1a;
    }

    > * {
      vertical-align: middle;
    }
  }

  .canvas-wrapper {
    flex: 1;
    height: 100%;

    .el-image:first-child {
      margin-right: 18px;
      vertical-align: top;
    }
  }
}

.product-component-wrapper {
  display: flex;
  height: calc(100% - 74px);
  margin-top: 18px;
}

.actual-product-list {
  flex: 1;
  margin-left: 18px;
  background: #f7f8fa;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.actual-product-item {
  display: inline-block;
  height: 100%;
  vertical-align: top;

  & + & {
    margin-left: 10px;
  }
}

// 校验组件 productComponent.vue
.product-component {
  display: flex;
  flex-direction: column;
  height: 100%;

  .el-card__header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 65px;
    padding: 15px 20px 15px 10px;
  }

  > .el-card__body {
    flex: 1;
    padding: 0;
    overflow-y: auto;
  }

  .remark {
    font-size: 14px;
    color: #ff9f00;
  }

  &.actual-product {
    > .el-card__body {
      padding: 5px 15px;
    }
  }
}

.product-component-list {
  position: relative;
  height: 100%;
  padding: 20px 28px 30px;
  background: #f7f8fa;
  overflow-y: auto;
}

.product-component-item {
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;

  .el-card {
    width: 164px;
    height: 40px;
    margin: 0 16px 0 12px;
  }

  .el-card__body {
    display: flex;
    align-items: center;
    padding: 0 5px 0 0;
  }

  .el-image {
    width: 40px;
    height: 40px;
    padding: 3px;
    margin: 0 10px;
  }

  .svg-icon {
    font-size: 20px;
    color: #cacbce;
  }

  & + & {
    margin-top: 20px;
  }
}

.compose-image {
  position: relative;
  width: 250px;
  height: 188px;
  margin-right: 10px;
  border: 1px solid #ebeef5;
  border-radius: 2px;

  .el-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .image-desc {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
  }
}

// 订单列表
.list-state-group {
  .el-radio-button__inner {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f8fa;
  }
  .el-radio-button__orig-radio:checked + .el-radio-button__inner {
    color: #3841db;
    background: #f7f8fa;
    font-weight: 500;
    border: 1px solid #dcdee0;
    transition: none;
    // border-right: 1px solid #dcdee0;
    // border-left: 1px solid #dcdee0;
    // border-bottom: 3px solid #3841db;
    box-shadow: none;
  }
  .el-radio-button__orig-radio:checked + .el-radio-button__inner::before {
    content: '';
    position: absolute;
    height: 2px;
    width: calc(100% + 2px);
    background: #3841db;
    bottom: 0;
  }
  .el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled),
  .el-radio-button.is-active {
    box-shadow: none;
    border-left-color:#dcdee0;
  }
}

// 列表页 - 搜索表单
.search-form-part {
  margin: 20px 0;
  background-color: #F7F8FA;
  padding: 20px 20px 0;
  .avue-group__item {
    margin-bottom: 0;
  }
  .el-form-item {
    margin-right: 20px;
  }
}

// 原型基础信息编辑
//.basics-edit {
//  .content {
//    height: 100%;
//    padding: 0 20px;
//  }
//}


// 原型基础信息提示
.page-title-tip {
  height: 46px;
  background: #fff5ed;
  border: 1px solid #ff9f00;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 16px;
  color: #595961;
  margin-bottom: 16px;
  i {
    color: #ff9f00;
    font-size: 20px;
    margin-right: 10px;
  }
}