.print-wrapper {
  width: 100%;
  -webkit-print-color-adjust: exact;
  -moz-print-color-adjust: exact;
  -ms-print-color-adjust: exact;
  print-color-adjust: exact;
}
.print-wrapper h3 {
  display: flex;
  align-items: center;
}
.print-wrapper h5 {
  margin-bottom: 10px;
  color: #ff4949;
}
.print-wrapper h5 span {
  color: #000;
}
.print-wrapper table {
  width: 100%;
  border-collapse: collapse;
}
.print-wrapper table thead {
  background: #eee;
}
.print-wrapper table thead th,
.print-wrapper table td {
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  padding: 5px;
  word-break: break-all;
  text-align: center;
}
.print-wrapper table thead th:first-child,
.print-wrapper table td:first-child {
  border-left: 1px solid #999;
}
.print-wrapper table tr:last-child td {
  border-bottom: 1px solid #999 !important;
}
.print-wrapper table td img {
  width: 120px;
  height: 120px;
}
.print-wrapper table tr td:first-child,
.print-wrapper table tr th:first-child,
.print-wrapper table tr td:nth-child(5),
.print-wrapper table tr th:nth-child(5) {
  /* width: 15% !important; */
}

.print-wrapper table tr td:nth-child(2),
.print-wrapper table tr th:nth-child(2),
.print-wrapper table tr td:nth-child(6),
.print-wrapper table tr th:nth-child(6) {
  width: 20% !important;
}
